main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

img {
  width: 100%;
  display: block;
}

.item{
/* flex-shrink: 2;
flex-grow: 2; */
flex: 1;
margin: 10px;
}

.group {
  display: flex;
  flex-direction: row;
  margin-bottom: 100px;
}

.groupCol {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.item-double{
  flex: 2;
  margin: 10px;

  /* flex-shrink: 1;
  flex-grow: 1; */
}

.images-block{
background-color: #5c4f41;
justify-content: center;
}

.images-block img{
margin:10px;
width: 15%;
}

